<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="d-flex justify-content-center align-items-center">
<div class="container">
    <!-- logout button -->
    <div class="row">
        <div class="row">
            <div class="col">
                <a href="/user/logout" class="btn btn-danger mb-4 mt-4">Logout</a>
                <h5>Username:</h5>
                <p>{{ user.username }}</p>
                <h5>Credit:</h5>
                <p>{{ user.credit }}</p>
                <a href="http://localhost:8000/user/invoices" class="btn btn-primary">My Invoices</a>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row mt-4">
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('statics', path='cloud.jpg') }}" alt="Card image cap">
                    <!-- Subscription 1 -->
                    <div class="card-body">
                        <h5 class="card-title">Subscription 1</h5>
                        <p class="card-text">$10 per 10 minutes</p>
                        {% if 1 in active_subscriptions %}
                        <a href="#" class="btn btn-success disabled">activate</a>
                        <a href="http://localhost:8000/user/deactivate?subscription_id=1" class="btn btn-danger">deactivate</a>
                        <a href="http://localhost:8000/user/terminate/1" class="btn btn-danger">terminate</a>
                        {% elif 1 in deactivated_subscriptions %}
                        <a href="http://localhost:8000/user/activate?subscription_id=1"
                           class="btn btn-success">activate</a>
                        <a href="#" class="btn btn-danger disabled">deactivate</a>
                        <a href="http://localhost:8000/user/terminate/1" class="btn btn-danger">terminate</a>
                        {% else %}
                        <a href="http://localhost:8000/user/buy?subscription_id=1" class="btn btn-primary"
                           methods="get">Buy</a>
                        {% endif %}
                    </div>
                    <!-- END Subscription 1 -->
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('statics', path='cloud.jpg') }}" alt="Card image cap">
                    <!-- Subscription 2 -->
                    <div class="card-body">
                        <h5 class="card-title">Subscription 2</h5>
                        <p class="card-text">$20 per 10 minutes</p>
                        {% if 2 in active_subscriptions %}
                        <a href="#" class="btn btn-success disabled">activate</a>
                        <a href="http://localhost:8000/user/deactivate?subscription_id=2" class="btn btn-danger">deactivate</a>
                        <a href="http://localhost:8000/user/terminate/2" class="btn btn-danger">terminate</a>
                        {% elif 2 in deactivated_subscriptions %}
                        <a href="http://localhost:8000/user/activate?subscription_id=2"
                           class="btn btn-success">activate</a>
                        <a href="#" class="btn btn-danger disabled">deactivate</a>
                        <a href="http://localhost:8000/user/terminate/2" class="btn btn-danger">terminate</a>
                        {% else %}
                        <a href="http://localhost:8000/user/buy?subscription_id=2" class="btn btn-primary">Buy</a>
                        {% endif %}
                    </div>
                    <!-- END Subscription 2 -->
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src="{{ url_for('statics', path='cloud.jpg') }}" alt="Card image cap">
                    <!-- Subscription 3 -->
                    <div class="card-body">
                        <h5 class="card-title">Subscription 3</h5>
                        <p class="card-text">$30 per 10 minutes</p>
                        {% if 3 in active_subscriptions %}
                        <a href="#" class="btn btn-success disabled">activate</a>
                        <a href="http://localhost:8000/user/deactivate?subscription_id=3" class="btn btn-danger">deactivate</a>
                        <a href="http://localhost:8000/user/terminate/3" class="btn btn-danger">terminate</a>
                        {% elif 3 in deactivated_subscriptions %}
                        <a href="http://localhost:8000/user/activate?subscription_id=3"
                           class="btn btn-success">activate</a>
                        <a href="#" class="btn btn-danger disabled">deactivate</a>
                        <a href="http://localhost:8000/user/terminate/3" class="btn btn-danger">terminate</a>
                        {% else %}
                        <a href="http://localhost:8000/user/buy?subscription_id=3" class="btn btn-primary">Buy</a>
                        {% endif %}
                    </div>
                    <!-- END Subscription 3 -->
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
